<%= simple_form_for @todoist_integration do |f| %>
  <%= f.error_notification %>
  <%= f.input :token %>
  <% if @todoist_integration.persisted? %>
    <%= f.input :project_id, as: :select, collection: @projects, prompt: t('.project_prompt') %>
  <% else %>
    <p class="alert alert-primary"><%= t('.set_project_id') %></p>
  <% end %>
  <%= f.button :submit, class: "btn-primary btn-block mt-3" %>
<% end %>
