<div class="form_container">

<h2><%= current_user.email%></h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= f.input :first_name, required: true %>
  <%= f.input :last_name, required: true %>
  <%= f.input :email, required: true %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :current_password, required: true %>
  <%= f.input :prefered_operations_view, collection: [['als Liste', 'list'], ['als Karten','tile']], prompt: 'Karte oder Liste?' %>
  <br><br>
  <%= f.button :submit, "Aktualisieren", class: "btn-primary btn-block" %>
<% end %>
<hr>


<h3>Account löschen</h3>
  <%= button_to "Löschen", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger btn-block" %>
</div>
