<h1>Integrationen</h1>
<div class="card integration_card todoist">
  <div class="card-body">
    <div class="d-flex align-items-center mb-3">
      <%= image_tag 'todoist.png' %>
      <h3 class="p-0 ms-3 mb-0">Todoist</h3>
    </div>
    <% if @todoist_integration %>
      <p class="">Projekt: <%= @project_name %></p>
      <small class="text-muted">API Token: <%= @todoist_integration.token %></small>
      <%= link_to "Editieren", edit_todoist_integration_path(@todoist_integration.id), class: 'btn btn-secondary mt-3' %>
    <% else %>
      <p class="text-muted"><%= t('.todoist_description_1') %></p>
      <small class="text-muted"><%= t('.todoist_description_2') %></small></br>
      <%= link_to "Neue Todoist integration", new_todoist_integration_path, class: 'btn btn-secondary mt-3' %>
    <% end %>
  </div>
</div>
