<div class="checkbox_box">
  <span class="user">Rechnung</span><br>
  <div style="display: flex; justify-content: center; text-align: center;">
    <div>
      <span class='check_text'>gezahlt</span><br>
      <%= render 'check_toggler', attribute: :paid, operation: operation %>
    </div>
  </div>
</div>

<div class="checkbox_box">
  <span class="insurance">Versicherung </span><br>
  <div style="display: flex; justify-content: center; text-align: center;">
    <div>
      <span class='check_text'>eingereicht</span><br>
      <%= render 'check_toggler', attribute: :insurance_submitted, operation: operation %>
    </div>
    <div>
      <span class='check_text'>gezahlt</span><br>
      <span>
        <%= render 'check_toggler', attribute: :insurance_paid, operation: operation %>
      </span>
    </div>
  </div>
</div>

<div class="checkbox_box">
  <span class="assistance">Beihilfe</span> <br>
  <div style="display: flex; justify-content: center; text-align: center;">
    <div>
      <span class='check_text'>eingereicht</span><br>
      <span>
        <%= render 'check_toggler', attribute: :assistance_submitted, operation: operation %>
      </span>
    </div>
    <div>
      <span class='check_text'>gezahlt</span><br>
      <span>
        <%= render 'check_toggler', attribute: :assistance_paid, operation: operation %>
      </span>
    </div>
  </div>
</div>
