<div class="checkbox_box">
  <span class="user">Rechnung</span><br>
  <div style="display: flex; justify-content: center; text-align: center;">
    <div>
      <span class='check_text'>gezahlt</span><br>
      <%= check_box_tag :paid, operation.paid, operation.paid, data: {'controller': 'toggle', 'toggle-target': "checkbox", action: "toggle#toggle", url: operation_path(operation) } %>
    </div>
  </div>
</div>

<div class="checkbox_box">
  <span class="insurance">Versicherung </span><br>
  <div style="display: flex; justify-content: center; text-align: center;">
    <div>
      <span class='check_text'>eingereicht</span><br>
      <%= check_box_tag :insurance_submitted, operation.insurance_submitted, operation.insurance_submitted, data: {'controller': 'toggle', 'toggle-target': "checkbox", action: "toggle#toggle", url: operation_path(operation) } %>
    </div>
    <div>
      <span class='check_text'>gezahlt</span><br>
      <span>
        <%= check_box_tag :insurance_paid,operation.insurance_paid, operation.insurance_paid, data: {'controller': 'toggle', 'toggle-target': "checkbox", action: "toggle#toggle", url: operation_path(operation) } %>
      </span>
    </div>
  </div>
</div>

<div class="checkbox_box">
  <span class="assistance">Beihilfe</span> <br>
  <div style="display: flex; justify-content: center; text-align: center;">
    <div>
      <span class='check_text'>eingereicht</span><br>
      <span>
        <%= check_box_tag :assistance_submitted, operation.assistance_submitted, operation.assistance_submitted, data: {'controller': 'toggle', 'toggle-target': "checkbox", action: "toggle#toggle", url: operation_path(operation) } %>
      </span>
    </div>
    <div>
      <span class='check_text'>gezahlt</span><br>
      <span>
        <%= check_box_tag :assistance_paid, operation.assistance_paid, operation.assistance_paid, data: {'controller': 'toggle', 'toggle-target': "checkbox", action: "toggle#toggle", url: operation_path(operation) } %>
      </span>
    </div>
  </div>
</div>
