<div class="form_container">

<%= simple_form_for @operation do |f| %>
<%= f.error_notification %>
<h3>Allgemeines</h3>
  <%= f.association :person, collection: current_user.people %>
  <%= f.input :title, label: 'Titel'%>
  <%= f.input :value, label: 'Summe'%>
  <hr>
  <h3>Daten</h3>


  <%= f.input :billing_date, label: 'Rechnungsdatum', as: :date %>
  <%= f.input :bill_deadline, label: 'Fälligkeitsdatum', as: :date %>

  <hr>
  <%= f.input :content, as: :rich_text_area, label: "Beschreibung" %>
  <hr>
  <%= f.input :bill, label: "Rechnung", as: :file %>
  <%= f.input :insurance_notice, label: "Versicherungsantwort", as: :file %>
  <br>



  <%= f.input :insurance_submitted, :as => :hidden, :input_html => { :value => false } %>
  <%= f.input :insurance_paid, :as => :hidden, :input_html => { :value => false } %>
  <%= f.input :assistance_submitted, :as => :hidden, :input_html => { :value => false } %>
  <%= f.input :assistance_paid, :as => :hidden, :input_html => { :value => false } %>

  <%= f.button :submit, class: "btn btn-primary btn-block" %>
<% end %>
</div>
