<div class="d-flex justify-content-between align-items-center mb-5">
  <h1><%= Operation.model_name.human(count: 2) %></h1>
  <div class="view_controls">
    <%= link_to new_operation_path, class:"btn btn-outline-primary" do %>Vorgang anlegen<% end %>
    <%= link_to operations_path(:view => "list"), class:"btn #{view == 'list' ? 'btn-primary': 'btn-outline-primary'}" do %><i class="fas fa-list"></i><% end %>
    <%= link_to operations_path(:view => "tile"), class:"btn #{view == 'tile' ? 'btn-primary': 'btn-outline-primary'}" do %><i class="fas fa-grip-horizontal"></i><% end %>
  </div>
</div>
<% if view == 'tile' %>
  <%= form_tag operations_path, remote: true, method: :get  do %>
    <div class="filter_inputs">
      <div>
        <%= select_tag "sort_by", options_for_select([
          ["Neuste zuerst", "created_desc"],
          ["Älteste zuerst", "created_asc"],
          ["Fälligkeitsdatum", "due_asc"],
          ['Nach Status', "state"]], params[:sort_by]),
          include_blank:"Sortieren",
          class: "ajax-input input_animated select2_form"
          %>
      </div>
      <div>
        <%= select_tag "filter", options_for_select([
          ["Rechnung gezahlt", "bill_paid"],
          ["Rechnung nicht gezahlt", "bill_not_paid"],
          ["Versicherung eingereicht", "insurance_notice"],
          ['Versicherung nicht eingereicht', "insurance_no_notice"],
          ["Versicherung gezahlt", "insurance_paid"],
          ["Versicherung nicht gezahlt", "insurance_not_paid"],
          ["Beihilfe eingereicht", "assistance_notice"],
          ['Beihilfe nicht eingereicht', "assistance_no_notice"],
          ["Beihilfe gezahlt", "assistance_paid"],
          ["Beihilfe nicht gezahlt", "assistance_not_paid"]], params[:filter]),
          include_blank:"Filter",
          class: "ajax-input input_animated select2_form"
          %>
      <% select_tag "person", options_from_collection_for_select(@people, 'id', 'name'), include_blank:"Nach Person filtern",  class: "ajax-input input_animated" %>
      </div>
    </div>
  <% end %>
<% end %>
