
<div class="operation shadow  <%= operation.person.color %>">
    <span class="title"><%= operation.title %></span>
    <%= show_attachment_icon(operation) %>
    <br>
    <%= get_status_name(operation) %><br>
    <span class="person"><%= operation.person.name %> |</span>
    <span class="value"><%= operation.value %> €</span>

    <br>
    <hr>
    <%= render "operations/checkboxes", :operation => operation %>
    <hr>
    <%= link_to 'Anzeigen', operation, class:"btn btn-primary btn-sm btn-block" %>
</div>
