<% if operation == @on_hold_operations.first %>

    <div class="operation shadow first <%= operation.person.color %>">
            <div class="status">Warten >></div>

<% elsif operation == @operations.first %>

    <div class="operation shadow first <%= operation.person.color %>">
            <div class="status">Bearbeitung >></div>

<% elsif operation == @closed_operations.first %>

    <div class="operation shadow first <%= operation.person.color %>">
            <div class="status">Abgeschlossen >></div>

<% else %>
    <div class="operation shadow  <%= operation.person.color %>">
<% end %>



    <span class="title"><%= operation.title %></span>
    <%= show_attachment_icon(operation) %>
    <br>
    <span class="person"><%= operation.person.name %> |</span>
    <span class="value"><%= operation.value %> €</span>

    <br>
    <hr>
    <%= render "operations/checkboxes", :operation => operation %>
    <hr>
    <%= link_to 'Anzeigen', operation, class:"btn btn-primary btn-sm btn-block" %>
</div>