<h1> Übersicht </h1>

<div class="d-flex dashboard_container justify-content-evenly">
  <div class="card m-2 dashboard_infobox dashboard_container__green">
    <div class="card-body">
      <span class="description">Zu zahlende Rechnungen</span>
      <span class="number"><%= @unpaid_operations.count %></span>
      <span class="value"><%= @unpaid_operations.sum(:value) %>€</span>
    </div>
  </div>

  <div class="card m-2 dashboard_infobox dashboard_container__blue">
    <div class="card-body">
      <span class="description">Die nächste Rechnung</span>
      <span class="number"><%= link_to @next_payment.title, @next_payment if @next_payment %></span>
      <span class="value"><%= @next_payment.value if @next_payment %>€</span>
    </div>
  </div>

  <div class="card m-2 dashboard_infobox dashboard_container__red">
    <div class="card-body">
      <span class="description">Überfällige Rechnungen</span>
      <span class="number"><%= @overdue_operations.count %></span>
      <span class="value"><%= @overdue_operations.sum(:value) %>€</span>
    </div>
  </div>

  <div class="card m-2 dashboard_infobox dashboard_container__green">
    <div class="card-body">
      <span class="description">Gezahlte Rechnungen</span>
      <span class="number"><%= @paid_operations.count %></span>
      <span class="value"><%= @paid_operations.sum(:value) %>€</span>
    </div>
  </div>

</div>
