



<% if params[:view] == "Tabelle" %>
<div class="view_controls">
  <%= link_to new_operation_path, class:"btn btn-outline-primary" do %>Vorgang anlegen<% end %>
  <%= link_to operations_path(:view => "Tabelle"), class:"btn btn-primary" do %><i class="fas fa-list"></i><% end %>
  <%= link_to operations_path(:view => "Boxen"), class:"btn btn-outline-primary" do %><i class="fas fa-grip-horizontal"></i><% end %>

  </div>
  <h1>Vorgänge</h1>

  <%= render "operations/table" %>

<% else %>
<div class="view_controls">
  <%= link_to new_operation_path, class:"btn btn-outline-primary" do %>Vorgang anlegen<% end %>

  <%= link_to operations_path(:view => "Tabelle"), class:"btn btn-outline-primary" do %><i class="fas fa-list"></i><% end %>
  <%= link_to operations_path(:view => "Boxen"), class:"btn btn-primary" do %><i class="fas fa-grip-horizontal"></i><% end %>
  </div>
  <h1>Vorgänge</h1>

  <%= render "operations/container" %>

<% end %>

<hr>

<br>
