<div class="details_box">
  <%= @operation.billing_date.strftime("Rechnung vom %d.%m.%Y") if @operation.billing_date %><br>
  F채llig in:
  <%= distance_of_time_in_words(Time.now, @operation.bill_deadline) %>
  (<%= @operation.bill_deadline.strftime("%d.%m.%Y") %>) <br>
  Person: <%= @operation.person.name %>
</div>

<h1 class= <%= @operation.person.color %>>
  <%= @operation.title %>
  <%= link_to edit_operation_path(@operation), class: "btn btn-sm btn-outline-primary" do %><i class="fas fa-edit"></i>
  <% end %>
  <%= link_to @operation, method: :delete, data: { confirm: 'Sicher?' }, class: "btn btn-sm btn-outline-danger " do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</h1>

<hr>
<div class="operation_container">
  <div class="money_box shadow">
    <table class="table table-hover table-sm ">
      <thead>
      <tr>
        <th>Rechnungsbetrag</th>
        <th data-controller="edit" data-edit-init-value="<%= @operation.value %>">
          <div data-edit-target="show"> <%= @operation.value %></div>
          <%= render 'inline_form', attribute: :value %>
        </th>
      </tr>
      </thead>
      <tr>
        <td>R체ckzahlung Versicherung <br>
          <span class="subtitle"><%= get_insurance_ratio(@operation) %></span></td>
        <td id="insurance_payback" data-controller="edit" data-edit-init-value="<%= @operation.insurance_payback %>">
          <div data-edit-target="show"> <%= @operation.insurance_payback %></div>
          <%= render 'inline_form', attribute: :insurance_payback %>
          <span class="subtitle"><%= get_insurance_difference(@operation) %></span>
        </td>
      </tr>
      <tr>
        <td>R체ckzahlung Beihilfe<br>
          <span class="subtitle"><%= get_assistance_ratio(@operation) %></span></td>
        <td id="assistance_payback" data-controller="edit" data-edit-init-value="<%= @operation.assistance_payback %>">
          <div data-edit-target="show"> <%= @operation.assistance_payback %></div>
          <%= render 'inline_form', attribute: :assistance_payback %>
          <span class="subtitle"><%= get_assistance_difference(@operation) %></span>
        </td>
      </tr>
      <tr>
        <th>Offener Betrag</th>
        <th><%= get_overall_value(@operation) %></th>
      </tr>
    </table>
  </div>

  <div class="checkbox_container shadow">
    <%= render "operations/checkboxes", :operation => @operation %>
  </div>
</div>

<% if @operation.content.present? %>
  <div class="description_box shadow">
    <%= @operation.content %>
  </div>
<% end %>
<br>
<% if @operation.has_attachments? %>
  <hr>
  <h5>Anh채nge</h5><br>

  <% if @operation.bill.attached? %>
    <%= link_to rails_blob_path(@operation.bill, disposition: 'preview'), target: "_blank" do %>
      <%= show_bill_preview(@operation) %>
    <% end %>
  <% end %>

  <% if @operation.insurance_notice.attached? %>
    <%= link_to rails_blob_path(@operation.insurance_notice, disposition: 'preview'), target: "_blank" do %>
      <%= show_insurance_notice_preview(@operation) %>
    <% end %>
  <% end %>
<% end %>
